<p id="notice"><%= notice %></p>

<div class="container not-full-width">
  <div class="row index-title-row">
    <div class="col-md-6">
      <h1>Projects</h1>
    </div>
    <div class="col-md-6 text-right">
      <div class="form-inline">
        <%= search_form_for @q do |f| %>
          <%= f.label :name_cont, class: 'control-label' %>
          <%= f.search_field :name_cont, class: 'form-control' %>

          <%= f.button :submit, :class => "btn btn-info btn-sm" do %>
            <span class="glyphicon glyphicon-search"></span>
          <% end %>

        <% end %>
      </div>
    </div>
  </div>

  <div class="row projects-padding">
    <div class="col-md-4 text-left">
      <%= link_to new_project_path, :class => "btn btn-info btn-md" do %>
        <span class="glyphicon glyphicon-plus-sign"></span> New project
      <% end %>
    </div>

    <div class="col-md-4 text-center">
      <% if will_paginate @projects %>
        <div class="apple-pagination">
          <%= will_paginate @projects %>
        </div>
      <% end %>
    </div>

    <div class="col-md-4 text-right">
      Sort by: <%= sort_link(@q, :name) %>
    </div>
  </div>

  <div class="row projects-list projects-padding">
    <%= render @projects %>
  </div>
</div>
