<p id="notice"><%= notice %></p>

<div class="container not-full-width">
  <div class="row vert-center">
    <div class="col-md-1">
      <%= link_to projects_path, :class => "btn btn-info btn-md" do %>
        <span class="glyphicon glyphicon-chevron-left"></span> Back
      <% end %>
    </div>

    <div class="col-md-10 project-details">
      <h1 class="text-center">
        <%= @project.name %>
      </h1>
    </div>
  </div>

  <div class="row">
    <div class="col-md-4 text-left">
      <strong>Short Name: </strong>
      <p>
        <%= @project.short_name %>
      </p>
    </div>

    <div class="col-md-4 text-center">
      <strong>Start Date: </strong>
      <p>
        <%= @project.start_date %>
      </p>
    </div>

    <div class="col-md-4 text-right">
      <strong>End Date: </strong>
      <p>
        <%= @project.end_date %>
      </p>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <strong>Description: </strong>
      <p>
        <%= @project.description %>
      </p>
    </div>
  </div>
  <div class="row text-center actions">
    <div class="col-md-12">
      <h2>Project Actions :</h2>

      <%= link_to edit_project_path(@project), :class => "btn btn-info btn-md" do %>
        <span class="glyphicon glyphicon-pencil"></span> Edit
      <% end %>

      <%= link_to project_path(@project), :class => "btn btn-danger btn-md", method: :delete, data: { confirm: 'Are you sure you want to delete this project?' } do %>
        <span class="glyphicon glyphicon-trash" aria-hidden="true"></span> Delete
      <% end %>
    </div>
  </div>
</div>
